pkgbase = libechonest2
	pkgdesc = C++ library for interfacing with Echo Nest
	pkgver = 2.1.0
	pkgrel = 1
	url = https://projects.kde.org/projects/playground/libs/libechonest
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = pkg-config
	depends = qjson
	provides = libechonest
	conflicts = libechonest-git
	conflicts = libechonest
	source = http://files.lfranchi.com/libechonest-2.1.0.tar.bz2
	md5sums = 96d98dbc5b3b155b277a9901d1133c5e

pkgname = libechonest2

